INSYMBOLS		sampa
SPLITDURATION		120
HVITEBEAMWIDTH 		0

BIGRAMWEIGHT		0.6
LANGUAGEMODELWEIGHT	4.0
MAXRECURSIONDEPTH	10

BOOST	true
VERBOSE	0
BOOST_CHUNKERTYPE	p
CHUNKERTYPE	t

BOOST_MINCHUNKDURATION	60
MINCHUNKDURATION	15

MAXCHUNKDURATION	0
WARNCHUNKDURATION		3000

BOOST_MINANCHORLENGTH		4
MINANCHORLENGTH		3

MAXANCHORCOST	0
MINANCHORSINGLETONS	0

WINDOWSIZE	5000

MAXNUMTHREADS	1
MAUS	false

SILENCEONLY	0
LANGUAGEMODEL	bigram
BOOST_LANGUAGEMODEL	zerogram

CLEAR	true
ALIGNER 		hirschberg
FORCE		false
OUTTYPE			bpf+trn
HTKDURATIONFACTOR	10000000
MAXRECURSIONDEPTH	30
RECURSION		true
